body{
    background-color: rgb(226, 226, 226);}


    table{
        margin: auto;
        background-color: rgb(51, 51, 59);
        margin-top: 20ch;
       
        border-radius: 7ch;
       
    }
    td{
        padding-top: 5ch;
        color: rgb(79, 85, 119);
       
    }
    label{
      color: rgb(253, 202, 160);
      margin-right: 10ch;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-left: 2ch;
    }
    input{
       
        background-color: rgb(198, 199, 209);
        border-radius: 10ch;
        border: 0ch;
        margin-right: 2ch;
      
    
       
    }
   .bt{
       margin-left: 3ch;
       margin-bottom: 4ch;
       width: 15ch;
       height: 8ch;
       background-color: rgb(99, 96, 110);
       color: rgb(194, 194, 194);
    
   }
   .mensagens{
    padding-left: 2ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 25px;
    height: 5px;
    padding-top: 16px;
    border-radius: 2cm;
    color: rgb(141, 158, 172);
   
   }
   .msg{
    color: rgb(253, 202, 160);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 2ch;
   }
